.otpreq{
    display: inline-flex;
    margin-left: 200px;
    margin-top: 100px;
}
.otpsend{
    border: 5px solid rgb(191, 191, 199);
    width: 500px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 100px;
    height: 180px;
}
.otpsend:hover{
    border: 5px solid rgb(44, 111, 178);
}
.otpsend1{
    font-size: 20px;
}
.otpsend2{
    width: 400px;
}
.otpsend3{
    margin-top: 10px;
    width: 400px;
    background-color: rgb(0, 179, 255);
}
.reqotp{
    border: 5px solid rgb(191, 191, 199);
    width: 480px;
}
.reqotp:hover {
    border: 5px solid rgb(44, 111, 178);
}