.register{
    display: inline-flex;
    margin-top: 100px;
    margin-left: 200px;
}

.register1{
    border: 5px solid rgb(220, 210, 210);
    width: 400px;
    padding: 30px;
    margin-left: 100px;
}
.register1:hover{
    border: 5px solid rgb(0, 157, 255);
}

.register2{
    width: 300px;
}
.register-btn{
    width: 300px;
    height: 40px;
    background-color: rgb(0, 157, 255);
    margin-top: 20px;
}

.registerr{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

